@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* order format = Generic to specific */
/* Type element > Single Class > Combination btw class & element > id */

* {
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: lightsteelblue;
  margin: 0 20%;
}

p {
  box-shadow: 4px 4px 4px rgba(10, 10, 10, 0.2);
  background-color: white;
  border-radius: 5px;
  padding: 30px;
}

.portrait {
  background-color: white;
  margin-top: 50px;
  padding: 20px 0px 5px 0px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(10, 10, 10, 0.2);
}

.portrait img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin-bottom: -10px;
}

.portrait button {
  background-color: #6B72E1;
  color: white;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: 700;
} 

.portrait a {
  color: white;
}

.about {
  text-align: left;
}

.links {
  margin: 0px 10px;
  display: inline-block;
}

.links i {
  color: gray;
}

.last {
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 30px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 400px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}